<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" ng-app="handymanApp"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" ng-app="handymanApp"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" ng-app="handymanApp"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="handymanApp"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>DeeJay Handyman</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='./css/site.css' type='text/css'>
	<link rel="stylesheet" href="./css/gridiculous.css" type='text/css'>
    <link rel="stylesheet" href="./css/animate.css" type='text/css'>
    <script src="./scripts/jquery-1.11.0.min.js"></script>


    <style>
        body{
            background-color: black;
            color: #777;
            font-family: 'Nova Square', cursive;
        }

        p{
            font-family: 'Arial', cursive;
        }

        .menu-item{
            font-size: 1.2em;
        }

        .panel-color{
            background-color: #333;
        }

        #p.promos-link{
            padding-left: 1em;;
            padding-right: 4em;
            padding-top: .5em;
            padding-bottom: .5em;
            font-family: 'Nova Square', cursive;
            float: right;
        }

        #promos-font{
            color: #000;
            font-family: 'Nova Square, cursive';
        }

        #social-media{
            background-color: #999;
            padding-top: 5px;
            padding-bottom: 5px;;
        }

        .details-header{
            background-color: ;
        }

        .event-date{
            color: #eee;
        }

            /**
             * Nettuts style blockquote
             */

        blockquote {
            font-style: italic;
        }

        blockquote p {
            font-style: italic;
        }

        @media only screen and (max-width:480px) {

            #main-banner{
                min-height: 200px;;
            }
        }


    </style>

</head>
<body>
	<div id="site-container" class="grid">
		<div id="site-content" role="main">

            <div class="row" id="main-menu">
                <div class="c3">
                        <img id="page-logo" onclick="show('#home');" src="./img/deejayhandyman-logo.png" alt="deejayhandyman logo" />
                </div>
                <div class="c9">
                    <a href="#home" class="bright-color menu-item" onclick="show('#home');"  id='home-menu'>HOME  </a>&#8226;
                    <a href="#about" class="bright-color menu-item" onclick="show('#about');" id='about-menu'>ABOUT  </a>&#8226;
                    <a href="#my-services" class="bright-color menu-item" onclick="show('#my-services');"  id='my-services-menu'>MY SERVICES  </a>&#8226;
                    <a href="#contact-me" class="bright-color menu-item" onclick="show('#contact-me');"  id='contact-me-menu'>CONTACT ME  </a>&#8226;
                    <a href="#gallery" class="bright-color menu-item" onclick="show('#gallery');"  id='gallery-menu'>GALLERY  </a>
                </div>
            </div>

            <div id="home">
                <!-- headphone banner image is set as background via css-->
                <div class="row" id="main-banner">
                    <div class="row" >
                        <a class="book" href="mailto:DeeJayHandyman@gmail.com"><span class="promos-link c3 contrast-background bright-color">BOOK YOUR EVENT NOW</span></a>
                    </div>
                    <div class="row" >
                        <a href="#news-and-specials">
                        <div class="c5 end" id="promos-link">
                            <a href="#news-and-promotions"><span class="promos-link c6 contrast-background bright-color">CHECK OUT OUR NEWS AND SPECIAL PROMOTIONS!!</span></a>
                        </div>
                        </a>
                    </div>
                </div>


                <div class="row">

                    <div class="row" id="features">
                        <div class="c4">
                            <h3 class="bright-color">STATE OF THE ART</h3>
                            <p class="bright-color">
                                Bringing you superior sounds and quality with the most up to date dj equipment! A second to none lighting show that compliments the atmosphere!
                            </p>
                            <h3 class="bright-color"><a href="#state-of-the-art-details" class="findout-more-link"> FIND OUT MORE</a></h3>
                        </div>
                        <div class="c4">
                            <h3 class="bright-color">ALL MUSIC GENRES</h3>
                            <p class="bright-color">
                                With a vast list of genres, the list goes on. Top 40, Country, Hip Hop, Bluegrass, R&B, Dubstep, Rock, Pop, 80's/90's Music, Old School and much more!
                            </p>
                            <h3 class="bright-color"><a href="#all-music-genres-details" class="findout-more-link"> FIND OUT MORE</a></h3>
                        </div>
                        <div class="c4">
                            <h3 class="bright-color">WHY DEEJAY HANDYMAN?</h3>
                            <p class="bright-color">
                                With the love and appreciation I have for music, I give you the best experience in bringing your special event to life.
                            </p>
                            <h3 class="bright-color"><a href="#why-deejay-handyman-details" class="findout-more-link"> FIND OUT MORE</a></h3>
                        </div>
                    </div>

                    <div class="row" id="social-media">
                        <a class="c1" href="https://www.facebook.com/pages/Dee-Jay-Handyman/234690900003456?fref=ts"><img src="./img/facebook.png" alt="facebook link"></a>
                        <a class="c1" href="https://twitter.com/deejayhandyman"><img src="./img/twitter.png" alt="twitter link"></a>
                        <a class="c1" href="https://plus.google.com/u/0/108473572662530089162/posts"><img src="./img/google-plus.png" alt="google plus link"></a>
                        <a class="c1" href="https://www.youtube.com/user/DeeJayHandyman"><img src="./img/youtube.png" alt="youtube link"></a>
                    </div>
                </div>

                <div class="row" id="testimonials">
                    <div class="c4">
                        <blockquote>
                            <p class="bright-color">
                                &quot;Michael, aka “Dee Jay Handyman”, is superb! He played most of the music that I had on my playlist but did ask first if he needed to play everything on my list. He definitely made sure that my daughter was the center of attention and that she and everyone was having a great time.&quot;

                            </p>
                        </blockquote>

                        <h3 class="contrast-color">- Stephanie Holder</h3>
                        <h3 class="bright-color">  Sweet Sixteen Birthday</h3>

                    </div>
                    <div class="c4">
                        <blockquote>
                            <p class="bright-color">
                                &quot;Best DJ I ever hired!!! I threw a Halloween Party last year and the only thing the party goers could talk about is the DJ, at how versatile he was when it came to song selections. His interaction with my guests was mind-blowing he truly connected with us all.&quot;
                                <br/><br/>
                            </p>
                       </blockquote>
                        <h3 class="contrast-color">- Crystal Henry</h3>
                        <h3 class="bright-color">  Halloween Party</h3>

                    </div>
                    <!--***************************************************************************

                               UPCOMING EVENTS SECTION LIKELY AREA TO UPDATE
                               TO UPDATE THIS SECTION ALL YOU NEED TO DO IS ADD ROWS

                    *******************************************************************************-->
                    <div id="upcoming-events" class="c4" ng-controller="eventController">
                        UPCOMING EVENTS
                        <div ng-repeat="setting in domainSettings">
                            <div class="row">
                                <span class="event-date">{{setting.domainName}}</span><br/>
                                <span class="event-name">{{setting.key}}: {{setting.value}}</span><br/>
                            </div>
                        </div>

                        <div ng-repeat="event in events">
                            <div class="row">
                                <span class="event-date">{{event.date}}</span><br/>
                                <span class="event-name">{{event.name}} {{event.location}}</span><br/>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="news-and-promotions" class="row details">
                    <div class="row panel-color bright-color">
                        <h3 class="c10">NEWS AND SPECIAL PROMOTIONS</h3>
                    </div>
                    <div class="row">
                        <div class="c10" ng-controller="specialsController">
                            <div ng-repeat="special in specials">
                                <p>{{special.content}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="c6"><a class="bright-color" href="#home" class="bright-color" onclick="show('#home');">BACK TO TOP</a></h3>
                    </div>
                </div><!--End of state-of-the-art-details-->
                <div id="state-of-the-art-details" class="row details">
                    <div class="row panel-color bright-color">
                        <h3 class="c10">STATE OF THE ART</h3>
                    </div>
                    <div class="row">
                        <div class="c10">
                            <p>
                                Bringing you the latest in the most robust of technological equipment, sight and sound, starting the line-up is the NS7FX Controller. Designed by Numark in collaboration with Serato, the NS7FX represents the pinnacle of digital DJ performance!
                            </p>
                            <p>
                                The integral piece that coincides with the NS7 Controller is the iMac from Apple! With reliable quality from Apple, the iMac delivers reliability from start to finish!
                            </p>
                            <p>
                                For your listening pleasure you will experience the Harbinger APS15 15" Powered PA Speaker, which delivers high quality robust sound that's unmatched!
                            </p>
                            <p>
                                The final piece that brings the entire system spectrum together, is the stunning light show! This awesome display of brilliance, consist of the Intimidator rotating head Spot LED 150, Colorstrip LED, The Majestic Moonflower LED, Galaxian LED Lasers, ThinPar64 and SlimPar 56 par cans. With an LED front-end, there is low heat which allows the light show to continue for the entire event! Book now to secure your date!!!
                            </p>
                        </div>

                    </div>
                    <div class="row">
                        <h3 class="c6"><a class="bright-color" href="#home" class="bright-color" onclick="show('#home');">BACK TO TOP</a></h3>
                    </div>
                </div><!--End of state-of-the-art-details-->

                <div id="all-music-genres-details" class="row details">
                    <div class="row panel-color bright-color">
                        <h3 class="c10">ALL MUSIC GENRES</h3>
                    </div>
                    <div class="row">
                        <div class="c10">
                            <p>
                                By providing a vast array of different music genres, your hosted event will not be lacking the quality and quantity of music. With subscriptions to two of the most dynamic music pools (Digiwaxx and Whitelabel), you will be receiving the latest top 40 of all genres.
                            </p>
                            <p>
                                Whether it be Country Music to Hip Hop and R&B, your request will be fulfilled at your hosted event! For all the 70’s 80’s and 90’s generation, you are covered! Book now to secure your date!!!
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="c6"><a class="bright-color" href="#home" class="bright-color" onclick="show('#home');">BACK TO TOP</a></h3>
                    </div>
                </div><!--all-music-genres-details-->

                <div id="why-deejay-handyman-details" class="row details">
                    <div class="row panel-color bright-color">
                        <h3 class="c10">WHY DEEJAY HANDYMAN?</h3>
                    </div>
                    <div class="row">
                        <div class="c10">
                            <p>
                                Quality, professionalism, and crowd-pleasing excitement is what I bring to the table. You will get an on time, on budget professional Disc Jockey for an affordable price! Whether it be a Sweet 16 birthday party, wedding, grand opening, sporting event, hail and fairwell, you name it, I’m here to deliver and make your event a memorable one! Book now to secure your date!!!
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="c6"><a class="bright-color" href="#home" class="bright-color" onclick="show('#home');">BACK TO TOP</a></h3>
                    </div>
                </div><!--why=deejay-handyman-details-->
            </div><!--end of home-->
            <div id="about">
                <div class="c8">
                    <h3>ABOUT DEEJAY HANDYMAN</h3>
                    <p>
                        Born in Indiana and raised in Southern California. I started DJing at the age of 15. My first venues were house parties and small dances. Like many around my block, I joined a local rap group; in which we performed at the Riverside Legion Hall.
                    </p>
                    <p>
                        After graduating high school, I entered the U.S. Army. Once in, I was able to afford professional equipment that all the top DJs used (Technics 1200s). While in the military, I DJ'ed at the local club on base. After a few years of moving from base to base, the bulk of my military DJing was in Dexheim Germany; under contract with the U.S. Military (Yep, they allowed me to moonlight on the side).
                    </p>
                    <p>
                        After leaving the military, I took a hiatus from DJing because of the cumbersome albums that needed to be transported. Fast forward to today's era… Digital music!!! I've been spinning since 2010 utilizing the NS7 by Numark; which pretty much negates totting albums. Welcome .mp3 format!!!
                    </p>
                    <p>
                        My largest event to date was the MMA event (which held 2000 people) at the Killeen Civic and Conference Center. And I've been spinning ever since!
                    </p>
                </div>
                <div class="c4 end panel-color">
                    <h3>"VERY PROFESSIONAL"</h3>
                    <p>
                        Wow! What amazing professionalism the DJ displayed for the Mixed Martial Arts event I had staged for my fighters at the Killeen Civic and Conference Center.  The music was well suited for all the audience members.  I can't say enough about Dee Jay Handyman.  Great music and great professionalism at the same time.
                    </p>
                </div>
            </div><!--end of about-->
            <div id="my-services">
                <div class="row">
                    <h3 class="c4">MY SERVICES</h3>
                    <div class="row"></div>
                    <p class="c8">
                        Providing DJ Services for the areas of Fort Hood, Killeen, Harker Heights,
                        Copperas Cove, Belton, Temple, and Salado.
                    </p>
                </div>
                <div class="row">
                    <h3 class="c5">DJ Services Are Provided For The Following:</h3>
                    <div class="row"></div>
                    <p class="c3">
                        <br>Weddings
                        <br>Birthdays
                        <br>Dances
                        <br>Quincea&#241;eras
                        <br>Hail and Farewells
                        <br>Karaoke
                    </p>
                    <p class="c3">
                        <br>Sporting Events
                        <br>Grand Openings
                        <br>Receiptions
                        <br>School Dances
                        <br>and much more!!!
                    </p>
                    <div class="row"></div>
                    <p class="c6">
                        All DJ events include a lighting package that will enhance your event and an unmatched complimenting sound system at a very affordable price.
                    </p>
                </div>
            </div><!--end of my services-->
            <div id="contact-me">
                <div class="row">
                    <h3 class="c4">CONTACT ME</h3>
                    <div class="row"></div>
                    <p class="c8">
                        If you have any questions please feel free to contact me from the information listed below.
                    </p>
                </div>
                <div class="row">
                    <div class="c3">
                        <h3>POC</h3>
                        <p class="bright-color">Michael Adkins <br/>(aka DeeJay Handyman)</p>
                    </div>
                    <div class="c3">
                        <h3>Phone</h3>
                        <p class="bright-color">1-254-433-8466</p>
                    </div>
                    <div class="c3">
                        <h3>E-Mail</h3>
                        <a href="mailto:DeeJayHandyman@gmail.com" class="bright-color">DeeJayHandyman@gmail.com</a>
                    </div>
                </div>
            </div><!--end of contact-me-->
            <div id="gallery">
                <div class="row">
                    <h3 class="row">GALLERY</h3>
                    <div class="row">
                        <p class="c6">See these videos and more like them on our <a class="bright-color underline" href="https://www.youtube.com/user/DeeJayHandyman">youtube channel</a></p>
                    </div>
                    <div class="row">
                        <a class="c4" href="http://youtu.be/Wk2rdiRMm04" target="_blank"><img src="./img/youtube_handy_man_entertainment.JPG"></a>
                        <a class="c4" href="http://youtu.be/0lT7nILVD48" target="_blank"><img src="./img/youtube_michael_and_nichole_reception.JPG"></a>
                        <a class="c4" href="http://youtu.be/xorQ0vlKzEE" target="_blank"><img src="./img/youtube_mr_and_ms_wallace.JPG"></a>
                    </div>

                </div>
                <div class="row">

                </div>
            </div><!--end of gallery-->
		</div><!--end of main-->

		<footer class="row bright-color">
            <div class="row"></div>
            <div class="row">
                <h3 class="c4 panel-color">EQUIPMENT</h3>
            </div>
            <div class="row">
                <img src="./img/equipment.png" alt="equipment casio rane scratch ableton the CRANE stand" class="c6"/>
            </div>
            <div class="row">
                <div class="c6">
                    <br>Michael Adkins
                    <br><a href="mailto:DeeJayHandyman@gmail.com?subject=Deejay Handyman services" class="bright-color">DeeJayHandyman@gmail.com</a>
                    <br>1-254-433-8466
                </div>
            </div>
		</footer>

    </div><!--end of site-container-->

    <script>

        //kindle fire has bugs that prevent menu navigation
        //this is to avoid hiding menus in kindle fire
        var ua = navigator.userAgent;
        var isKindle = false; // /Kindle/i.test(ua) || /Silk/i.test(ua) || /KFTT/i.test(ua) || /KFOT/i.test(ua) || /KFJWA/i.test(ua) || /KFJWI/i.test(ua) || /KFSOWI/i.test(ua) || /KFTHWA/i.test(ua) || /KFTHWI/i.test(ua) || /KFAPWA/i.test(ua) || /KFAPWI/i.test(ua);

        $('#page-logo').css('cursor', 'pointer');

        //*******************************************************************************
        //
        // I am changing the href of the menu-item buttons (HOME, ABOUT, MY SERVICES, Etc..)
        // so that the application does not jump to the respective sections.
        // On kindle it's ok to jump to these sections because it shows one long page.
        // However on a regular device like a pc or samsung galaxy doing so jumps near the top
        // but not all the way and causes it to hide the main menu, making it look akward.
        //
        //  Fernando 4/20/2014
        //********************************************************************************************************
        function clearHrefWhenNotKindle(){

            if(isKindle === false){
                var elements = document.getElementsByClassName('menu-item'); //get all menu-items
                var i = 0;

                for(i = 0; i < elements.length; i++){
                    elements[i].href = elements[i].href + "-"; //add a dash (e.g. href="#about-" instead of href="#about" to avoid jumping locations when showing and hiding elements
                }
            }
        }

        //*******************************************************************
        //
        //   function show(elementToShow)
        //   param: elementToShow    the div that will show (i.e. the page that
        //    will show when the menu-item is clicked.  This way all other divs
        //    are hiddend and just the one show. The item that will show is
        //   determined by the onclick=show('ELEMENTTOSHOW').
        //
        //   There is also a convetion at work here the menu-item id is post-fixed
        //   with -menu for whateve section is it corresponds to (e.g. home-menu
        //    correspnds to the "home" div(i.e. page).
        //
        //********************************************************************
        function show(elementToShow) {
            if(isKindle === true)
                return;
            hideAllMenuItems();

            $(elementToShow).show();
            $(elementToShow + "-menu").addClass("selected");
        }

        function hideAllMenuItems() {

            $('#home-menu').removeClass("selected");
            $('#about-menu').removeClass("selected");
            $('#my-services-menu').removeClass("selected");
            $('#contact-me-menu').removeClass("selected");
            $('#gallery-menu').removeClass("selected");

            $('#home').hide();
            $('#about').hide();
            $('#my-services').hide();
            $('#contact-me').hide();
            $('#gallery').hide();
        }

        //Invoke these two funtcions upon loading of the page
        clearHrefWhenNotKindle();   //clear the ids and then show the home menu selected
        show('#home');
    </script>
    <!-- MVC Angular files-->
    <script src="./scripts/itemSettingsExtractor.js"></script>
    <script src="./scripts/angularjs.min.1.2.9.js"></script>
    <script src="./scripts/modules/handymanApp.js"></script>
    <script src="./scripts/controllers/eventController.js"></script>
    <script src="./scripts/controllers/specialsController.js"></script>
    <script src="./scripts/services/settingsDataService.js"></script>
    <script src="./scripts/services/specialsDataService.js"></script>
    <script src="./scripts/services/eventsDataService.js"></script>

</body>
</html>